#content {
  margin-top: 30px;
  border-radius: 2px;
  background: white;
  box-shadow: 0px 2px 5px #ccc;
  padding: 0px;
  overflow: hidden;
}

#header {
  margin: 0px;
  padding-left: 10px;
  height: 90px;
  line-height: 90px;
  background: #e03137;
  color: white;
}

#header h1 {
  display: block;
  padding-left: 10px;
  line-height: 90px;
  font-weight: bold;
  font-size: 30px;
}

#nav {
  padding: 0px;
  margin: 0px;
  background: rgba(224, 49, 55, 0.67);
}

#nav ul {
  margin: 0px;
  list-style: none;
  padding-left: 10px;
}

#nav ul li {
  float: left;
  margin-right: 20px;
}

#nav ul li a {
  display: block;
  color: white;
  height: 30px;
  line-height: 29px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 300ms;
  text-decoration: none;
}

#nav ul li a:hover {
  background: #e03137;
}

.activado {
  border-bottom: 4px solid yellow;
}

#main .jumbotron {
  padding: 50px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #eee;
}

#footer {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #eee;
  color: gray;
}

#form-producto label {
  margin-top: 10px;
}

.badge {
  background: red;
}

.imagen_container {
  width: 100%;
  overflow: hidden;
}

.producto_imagen {
  height: 160px;
  margin: 0px auto;
  display: block;
}

.imagen_relleno {
  background: #ccc;
  width: 120px;
  height: 160px;
  margin: 0px auto;
  display: block;
}
